python

In [1]:
a=10
b=20
print("VALUE OF a {} AND VALUE OF b {}".format(a,b))
print("VALUE OF a {} AND VALUE OF b {}".format(b,a))
print("VALUE OF a {0} AND VALUE OF b {1}".format(b,a))
print(a,b)

VALUE OF a 10 AND VALUE OF b 20
VALUE OF a 20 AND VALUE OF b 10
VALUE OF a 20 AND VALUE OF b 10
10 20

In [3]:
my= 'country'; name_is='india'
print('i love my {1} and  name_is {0}'.format(name_is,my))

i love my country and  name_is india

In [4]:
print('my name is {},{} from {}'.format('BILL','GATE','MICROSOFT'))

my name is BILL,GATE from MICROSOFT

In [5]:
n=input('Enter a value:')
print(n)

Enter a value: 2

2

In [7]:
x=input("enter the 1st value:"),input("enter the 2nd value:"),input("enter the 3rd value")
print(x)

enter the 1st value: 23
enter the 2nd value: 45
enter the 3rd value 432

('23', '45', '432')

In [8]:
a=True
b=False
print(not b)
print(a and b)
print(a or b)

True
False
True

In [10]:
a=3
b=3
print(a is b)
print(a is not b)
print(id(a))
print(id(b))

True
False
140707670971240
140707670971240

In [11]:
l1=[0,1,2]
l2=[0,1,2]
print(l1 is l2)

False

In [12]:
l2={2:'a',1:'b'}
print(1 in l2)

True

In [17]:
x=5
if(x>0):
    print("x is positive no")
else:
    print("x is negative no")

x is positive no

In [18]:
n=19
if (n>=10 and 20>n):
    print("1st division")
elif (n>10 and 20<n):
    print("2nd division")
else:
    print("fail")

1st division

In [19]:
lst=-100
print(abs(lst))

100

In [20]:
lst=[1,2,-4]
print(all(lst))

True

In [21]:
l=[7,8,6]
print(all(l))

True

In [23]:
l=[0,9]
print(all(l))

False

In [24]:
i=[]
print(all(i))

True

In [28]:
l=[]
print(type(l))
print(dir(l))
print("-------------------------")
l2=tuple(l)
print(type(l2))
print(dir(l2))

<class 'list'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
-------------------------
<class 'tuple'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [29]:
print(divmod(34,3))

(11, 1)

In [31]:
l=[10,20,30,40]
for index, num in enumerate(l,start=0):
    print("index {0} has value {1}".format(index,num))

index 0 has value 10
index 1 has value 20
index 2 has value 30
index 3 has value 40

In [33]:
def check_positive_no(num):
    if num>0:
        return num
check_positive_no(2)

2

In [38]:
lst1=range(-10,10)
print(list(lst1))
print(type(lst1))
lst2=list(filter(lambda n:n%2!=0,lst1))
for i in lst2:
    print(i)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'range'>
-9
-7
-5
-3
-1
1
3
5
7
9

In [42]:
lst=[1,2,3]
sqred=[]
sqred1=[]
for num in lst:
    sqred.append(num **2)
    sqred1.append(num **3)

print(sqred)
print(sqred1)

[1, 4, 9]
[1, 8, 27]

In [43]:
def hallsquare(num):
    return (num **2)

sqred=list(map(lambda x:x**2,[1,2,3]))
print(sqred)

[1, 4, 9]

In [48]:
prdt=1
lst=[1,2,3]
for  num in lst:
    prdt *= num
print(prdt)

6

In [51]:
from functools import reduce
def multiply(x,y):
    return x*y;
prdt=reduce(lambda x,y: x*y,lst)
print(prdt)

6

In [ ]:
def addition(n1,n2):
    return n1+n2
def subtraction(n1,n2):
    return n1-n2
def multiplication(n1,n2):
    return n1*n2
def division(n1,n2):
    return n1/n2

("SELECT ONE OF THE OPERATIONS:\n" " 1. ADDITION\n" ,"2.SUBTRACTION\n", "3. MULTIPLICATION\n","4. DIVISION")
sel=int(input("select operation 1-4:"))
try:
    n1=int(input("enter the first no:"))
    n2=int(input("enter the second no:"))
except ValueError:
    print("Enter an integer")
    n1=int(input("enter the first no:"))
    n2=int(input("enter the second no:"))

if sel==1:
    result= addition(n1,n2)
elif sel==2:
    result=subtraction(n1,n2)
elif sel==3:
    result=multiplication(n1,n2)
elif sel==4:
    result=division(n1,n2)
    
    

print("result={}".format(result))

select operation 1-4: 4
enter the first no: g

Enter an integer